%section.account.container
  .row
    .col-md-10.col-lg-offset-1
      = bootstrap_form_for @user, style: :horizontal do |f|
        %header
          %h1 Your Account
        %fieldset
          .form-group
            %label.control-label.col-sm-3 Email Address
              = f.text_field :email, class: 'form-control', hide_label: true
          .form-group
            %label.control-label.col-sm-3 Password
              = f.password_field :password, class: 'form-control', hide_label: true
          .form-group
            %label.control-label.col-sm-3 Confirm Password
              = f.password_field :password_confirmation, class: 'form-control', hide_label: true
          .form-group
            %label.control-label.col-sm-3 Full Name
              = f.text_field :full_name, class: 'form-control', hide_label: true
        %fieldset.actions.form-group
          .col-sm-8.col-lg-offset-3
            %input(type="submit" value="Update" class="btn btn-success")
            = link_to "Cancel Update"
