%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        = bootstrap_form_for [:admin, @category], style: :horizontal, left: "col-sm-3" , right: "col-sm-6", html: {multipart: true} do |f|
          %ul.nav.nav-tabs
            %li
              = link_to "Add a New Video", new_admin_video_path
            %li
              = link_to "Recent Payments", admin_payments_path
            %li
              = link_to "Categories", admin_categories_path
          %br
          %fieldset
            .form-group
              = f.text_field :category, label: "Category Name", class: "col-sm-3"

          %fieldset.actions.form-group
            .col-sm-6.col-md-offset-3
              %input(type="submit" value="Edit Category" class="btn btn-success")
